/*************************  HTML Elements  ************************/
:root{
  --dark_blue:#0F4CF3;
  --light_blue:#1089F3;
}

body,html{
  height:100%;
  background-color: white;
}

::-webkit-scrollbar{
  width:0;
  background-color: transparent;
}

h1,h2,p{
  color: black;
}

h2,h3{
  font-family: "Patua One";
}

h1{
  font-size: 5em;
  padding-top:2%;
  font-family: "Bebas Neue";
}

p{
  font-family: "Patua One";
  font-size: large;
}

i{
  transition: 0.5s;
  color:var(--dark_blue)
}

i:hover{transform: scale(1.5)}

input::placeholder{
  color: black;
  font-family: "Patua One";
}

input:focus::placeholder{
  color:white;
}

input:focus{
  width: 300px;
  background-color: black;
  color: white;
}

input{
  transition: 0.5s;
  font-family: "Patua One";
  padding:10px;
  border-radius: 10px;
  text-align: center;
  margin:10px;
  color:black;
  background-color: transparent;
  border: 2px solid black;
}

input[type="submit"]{
  background-color: rgba(0,0,0,0.3);
}

input[type="submit"]:hover{
  transform: scale(1.2);
  background-color: rgba(0,0,0,0.8);
  color: white;
}

hr{
  border:2px solid black;
  width:80%;
  border-radius: 15px;
}

footer{
  text-align: center;
  background-color: #0e40cc;
  font-family: "Patua One";
  color: white;
}

footer p{
  color: white;
  padding:10px;
  margin: 0;
}

footer i{
  padding:20px;
  padding-bottom:5px;
  color: white;
}

footer i:hover{
  transform: scale(1.2);
}

button{
  transition: 0.5s;
  background-color:rgba(0,0,0,0.2);
  border-radius: 10px;
  padding:10px;
  margin: 20px;
  margin-top:20px;
  font-family: "Patua One";
  color:black;
  border:2px solid black;
}

button:hover{
  transform: scale(1.5);
  background-color:rgba(0,0,0,0.8);
  color: white;
}

select{
  padding:10px;
  background-color: rgba(0,0,0,0.2);
}

/*************************  ID SELECTORS  ************************/
#last{
  padding-bottom: 50px;
}

#wavy{
  background:linear-gradient(deepskyblue, var(--dark_blue));
  height:80%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#wavy2{
  background:linear-gradient(lime, deepskyblue);
  height:80%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 5px 10px 18px black;
}

#wavy h1{
  color:white
}

#wavy h2{
  color:white
}

#wavy2 h1{
  color:white
}

#wavy2 h2{
  color:white
}

@keyframes lined{
  from{border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
  to{border-bottom-left-radius: 0%; border-bottom-right-radius: 0%;}
}

@keyframes curved{
  from{border-bottom-left-radius: 0%; border-bottom-right-radius: 0%;}
  to{border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  overflow: hidden;
  z-index: 2;
}

/*************************  CLASS SELECTORS  ************************/

/*Centered container*/
.cont{
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sec-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right:200px;
  padding-left:200px;
}

/*Login and signup*/
.actions h2{
  display: inline-block;
  padding:30px;
  padding-top:10px;
  padding-bottom:10px;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
}

.actions h2:hover{
  color: black;
  background-color: rgba(0,0,0,0.3);
}

/* END OF Login and signup*/

/*Achievement cards*/

.cards{
  transition: 0.5s;
  display: inline-block;
  box-shadow: 5px 10px 18px black;
  max-width: 400px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  padding:20px;
  margin: 20px;
  margin-bottom: 150px;
  margin-top:-100px;
}

.cards h3{
  margin-top: 20px;
  margin-bottom: 0;
}

.cards img{
 width:100%;
}

.cards:last-child{
  margin-bottom: 50px;
}

.cards:hover{
  transform: scale(1.1);
  box-shadow: 12px 20px 18px black;
}

.cards p{
  font-size: large;
}

.ratings{
  transition: 0.5s;
  background-color: rgba(0,0,0,0.05);
  text-align: center;
  padding:50px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 4px 6px 10px black;
  margin-bottom: 30px;
}

.ratings:hover{
  transform: scale(1.1);
  box-shadow: 12px 20px 18px black;
  margin-bottom: 60px;
}

.rating{
  display: none;
}

@keyframes op{
  from{opacity: 0;}
  to{opacity: 1;}
}

.settings{
  position: absolute;
  right:5%;
  padding: 15px;
}

/*************************  MEDIA QUERIES  ************************/
@media screen and (max-width:600px){

  h2{
    font-size: x-large;
  }

  #wavy h1{
    font-size: 3em;
    margin-bottom: 50px;
  }

  .sec-container{
    padding-right:25px;
    padding-left:25px;
  }
}